<body>
  <input type="checkbox" id="menu-toggle" />
  <div class="sidebar">
    <div class="side-header" style="background-color: white">
      <h3 style="color: #009bab">KT<span>-eHospital</span></h3>
    </div>

    <div class="side-content">
      <div class="profile">
        <input
          (change)="handleFileInput($event)"
          type="file"
          accept="image/*"
          id="user-image"
          style="z-index: -1; position: absolute; opacity: 0"
        />
        <label
          for="user-image"
          class="profile-img bg-img"
          style="background-image: url('{{ imgUrl }}')"
        ></label>
        <h4>{{ userModel.user_fullName }}</h4>
        <small>{{ roleName }}</small>
      </div>

      <div class="side-menu">
        <ul>
          <li>
            <a routerLink="/">
              <span><i class="uil uil-estate"></i></span>
              <small>Home</small>
            </a>
          </li>
          <li>
            <a class="active" routerLink="/manager-appointment">
              <span><i class="uil uil-medical-square"></i></span>
              <small>Appointment</small>
            </a>
          </li>
          <li>
            <a routerLink="/manager-blog">
              <span><i class="uil uil-document-layout-left"></i></span>
              <small>Blog</small>
            </a>
          </li>
          <li>
            <a routerLink="/manager-statistic">
              <span><i class="uil uil-chart-pie-alt"></i></span>
              <small>Statistic</small>
            </a>
          </li>
          <li>
            <a routerLink="/manager-revenue-prediction">
              <span><i class="uil uil-comparison"></i></span>
              <small>Revenue Prediction</small>
            </a>
          </li>
          <li>
            <a style="cursor: pointer" routerLink="/manager-profile">
              <span><i class="uil uil-user"></i></span>
              <small>Profile</small>
            </a>
          </li>
          <li>
            <a (click)="onSignOut()" style="cursor: pointer">
              <span><i class="uil uil-signout"></i></span>
              <small>Sign Out</small>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="main-content">
    <header style="background-color: #009bab">
      <div class="header-content">
        <label for="menu-toggle">
          <span><i class="uil uil-bars" style="color: white"></i></span>
        </label>
      </div>
    </header>

    <main>
      <div class="page-header">
        <h1>Change Appointment</h1>
        <small>Home / Appointment Management / Change Appointment</small>
      </div>

      <div class="analytics" style="display: flex; justify-content: center">
        <div class="container" style="width: 60%">
          <div class="content">
            <form [formGroup]="updateAppointmentForm">
              <div class="user-details">
                <div class="input-box">
                  <span class="details">Full Name</span>
                  <input
                    class="form-control"
                    type="text"
                    value="{{ fullname }}"
                    [disabled]="true"
                    style="border: 2px solid #009bab"
                  />
                </div>
                <div class="input-box">
                  <span class="details">Email</span>
                  <input
                    class="form-control"
                    type="text"
                    value="{{ email }}"
                    [disabled]="true"
                    style="border: 2px solid #009bab"
                  />
                </div>
                <div class="input-box">
                  <span class="details">BirthDate</span>
                  <input
                    class="form-control"
                    type="text"
                    value="{{ birthday }}"
                    [disabled]="true"
                    style="border: 2px solid #009bab"
                  />
                </div>
                <div class="input-box">
                  <span class="details">Gender</span>
                  <input
                    class="form-control"
                    type="text"
                    value="{{ gender }}"
                    [disabled]="true"
                    style="border: 2px solid #009bab"
                  />
                </div>
                <div class="input-box">
                  <span class="details">Appointment Date</span>
                  <input
                    class="form-control"
                    type="text"
                    value="{{ appointment_date }}"
                    [disabled]="true"
                    style="border: 2px solid #009bab"
                  />
                </div>
                <div class="input-box">
                  <span class="details">Address</span>
                  <input
                    class="form-control"
                    type="text"
                    value="{{ address }}"
                    [disabled]="true"
                    style="border: 2px solid #009bab"
                  />
                </div>
                <div class="input-box">
                  <span class="details">Pharmacist Name</span>
                  <input
                    class="form-control"
                    type="text"
                    value="{{ pharmacist_name }}"
                    [disabled]="true"
                    style="border: 2px solid #009bab"
                  />
                </div>
                <div class="input-box">
                  <span class="details">Pharmacist Email</span>
                  <input
                    class="form-control"
                    type="text"
                    value="{{ pharmacist_email }}"
                    [disabled]="true"
                    style="border: 2px solid #009bab"
                  />
                </div>
                <div class="input-box">
                  <span class="details">Choose Doctor</span>

                  <input
                    class="form-control"
                    type="text"
                    list="doctors"
                    formControlName="schedule_doctor"
                  />
                  <datalist id="doctors">
                    <option
                      *ngFor="let d of lstDoctor"
                      value="{{ d.doctor_email }}"
                    >
                      {{ d.doctor_name }}
                    </option>
                  </datalist>
                  <small
                    *ngIf="
                      updateAppointmentForm.controls['schedule_doctor'].dirty &&
                      updateAppointmentForm.hasError(
                        'isWrongDoctor',
                        'schedule_doctor'
                      )
                    "
                    class="text-danger"
                    >Please choose correct Doctor</small
                  >
                </div>
                <div class="input-box">
                  <span class="details">Room Name</span>
                  <input
                    class="form-control"
                    type="text"
                    value="{{ room_name }}"
                    [disabled]="true"
                    style="border: 2px solid #009bab"
                  />
                </div>
                <div class="input-box" style="flex: 1">
                  <span class="details">Symptom</span>
                  <textarea
                    class="form-control"
                    type="text"
                    style="border: 2px solid #009bab"
                    value="{{ symptom }}"
                    [disabled]="true"
                  ></textarea>
                </div>
              </div>
              <div class="button">
                <input (click)="onSave()" type="submit" value="Save" />
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="page-content">
        <div class="records table-responsive">
          <div class="record-header">
            <div class="add">
              <button
                [routerLink]="['/manager-appointment']"
                style="background-color: #009bab"
              >
                Back To Appointment Management
              </button>
            </div>

            <div class="browse">
              <input
                (input)="onChageSearch($event)"
                type="search"
                placeholder="Search"
                class="record-search"
              />
            </div>
          </div>
          <div style="display: flex; justify-content: center">
            <table style="width: 70%" #tableRef>
              <thead>
                <tr>
                  <th>Medicine Name</th>
                  <th>Total Medicine Quantity</th>
                  <th>Number of take medicine per day</th>
                  <th>Each time, take pill is number</th>
                  <th>Total</th>
                </tr>
              </thead>
              <tbody >
                <tr *ngFor="let data of lstPrescription">
                  <td [innerHTML]="highlightKeyword(data.name)"></td>
                  <td [innerHTML]="highlightKeyword(data.quantity)"></td>
                  <td [innerHTML]="highlightKeyword(data.perday)"></td>
                  <td [innerHTML]="highlightKeyword(data.eachtime)"></td>
                  <td [innerHTML]="highlightKeyword(data.total)"></td>
                </tr>

                <tr>
                  <td colspan="3"></td>
                  <td>Total</td>
                  <td>{{ totalAppointment }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </main>
  </div>
</body>
