<body>
  <input type="checkbox" id="menu-toggle" />
  <div class="sidebar">
    <div class="side-header" style="background-color: white">
      <h3 style="color: #009bab">KT<span>-eHospital</span></h3>
    </div>

    <div class="side-content">
      <div class="profile">
        <input
          (change)="handleFileInput($event)"
          type="file"
          accept="image/*"
          id="user-image"
          style="z-index: -1; position: absolute; opacity: 0"
        />
        <label
          for="user-image"
          class="profile-img bg-img"
          style="background-image: url('{{ imgUrl }}')"
        ></label>
        <h4>{{ userModel.user_fullName }}</h4>
        <small>{{ roleName }}</small>
      </div>

      <div class="side-menu">
        <ul>
          <li>
            <a routerLink="/">
              <span><i class="uil uil-estate"></i></span>
              <small>Home</small>
            </a>
          </li>
          <li>
            <a routerLink="/doctor-medical-examination">
              <span><i class="uil uil-medical-square"></i></span>
              <small>Medical Examination</small>
            </a>
          </li>
          <li>
            <a class="active" routerLink="/doctor-schedule">
              <span><i class="uil uil-calender"></i></span>
              <small>Schedule</small>
            </a>
          </li>
          <li>
            <a style="cursor: pointer" routerLink="/doctor-profile">
              <span><i class="uil uil-user"></i></span>
              <small>Profile</small>
            </a>
          </li>
          <li>
            <a (click)="onSignOut()" style="cursor: pointer">
              <span><i class="uil uil-signout"></i></span>
              <small>Sign Out</small>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="main-content">
    <header style="background-color: #009bab">
      <div class="header-content">
        <label for="menu-toggle">
          <span><i class="uil uil-bars" style="color: white"></i></span>
        </label>
      </div>
    </header>

    <main>
      <div class="page-header">
        <h1>View Schedule for: {{ chooseDate }}</h1>
        <small>Home / Schedule Management/ View Schedule</small>
      </div>

      <div class="page-content">
        <div class="records table-responsive">
          <div class="record-header">
            <div class="add">
              <button
                routerLink="/doctor-schedule"
                style="background-color: #009bab"
              >
                Back To Schedule
              </button>
            </div>

            <div class="browse">
              <input
                (input)="onChageSearch($event)"
                type="search"
                placeholder="Search"
                class="record-search"
              />
            </div>
          </div>
          <div style="display: flex; justify-content: center">
            <table style="width: 70%" #tableRef>
              <thead>
                <tr>
                  <th>USER</th>
                  <th>ROOM</th>
                </tr>
              </thead>
              <tbody *ngFor="let data of lstSchedule">
                <tr>
                  <td>
                    <div class="client">
                      <div
                        class="client-img bg-img"
                        style="background-image: url({{ data.user_image }})"
                      ></div>
                      <div class="client-info">
                        <h4
                          [innerHTML]="highlightKeyword(data.user_username)"
                        ></h4>
                        <small
                          [innerHTML]="highlightKeyword(data.user_email)"
                        ></small>
                      </div>
                    </div>
                  </td>
                  <td [innerHTML]="highlightKeyword(data.room_name)"></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </main>
  </div>
</body>
