<main>
  <!-- navbar -->
  <nav class="navbar navbar-expand-lg" id="navbar">
    <div class="container-fluid">
      <a routerLink="/" class="navbar-brand" id="logo"
        ><span id="span1">KT-eHospital</span></a
      >
      <button
        class="btn-bar navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span
          ><i class="uil uil-bars" style="color: white" alt="" width="30px"></i
        ></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/"
              >Home</a
            >
          </li>
        </ul>
        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="/signin">Sign In</a>
          </li>
          <div style="border-left: 2px solid #009bab"></div>
          <li class="nav-item m-0">
            <a class="nav-link" routerLink="/signup">Sign Up</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- navbar -->
</main>
