<body>
  <!-- Hero Start -->
  <div class="container-fluid bg-primary py-5 mb-5 hero-header">
    <div class="container py-5">
      <div class="row justify-content-start">
        <div class="col-lg-8 text-center text-lg-start">
          <h5 class="d-inline-block text-primary border-bottom border-5">
            Welcome To KT-eHospital
          </h5>
          <h1
            class="display-1 text-white mb-md-4"
            style="color: #009bab !important"
          >
            Best Healthcare Solution In Can Tho City
          </h1>
        </div>
      </div>
    </div>
  </div>
  <!-- Hero End -->

  <!-- About Start -->
  <div class="container-fluid py-5">
    <div class="container">
      <div class="row gx-5">
        <div class="col-lg-5 mb-5 mb-lg-0" style="min-height: 500px">
          <div class="position-relative h-100">
            <img
              class="position-absolute w-100 h-100 rounded"
              id="aboutUs"
              style="object-fit: cover"
            />
          </div>
        </div>
        <div class="col-lg-7">
          <div class="mb-4">
            <h5
              class="d-inline-block text-primary text-uppercase border-bottom border-5"
            >
              About Us
            </h5>
            <h1 class="display-4 fw-medium">
              Best Medical Care For Yourself and Your Family
            </h1>
          </div>
          <p>
            KT-eHospital is committed to excellence in clinical practice,
            education and research, providing first-rate care for the people of
            Vietnam. KT-eHospital has built a strong reputation for delivering
            affordable, high-quality patient-centric care. We take pride in
            building the future of healthcare in Vietnam and contributing to the
            improved well-being and prosperity of our nation.
          </p>
          <div class="row g-3 pt-3">
            <div class="col-sm-3 col-6">
              <div class="bg-light text-center rounded-circle py-4">
                <i class="fa fa-3x fa-user-md text-primary mb-3"></i>
                <h6 class="mb-0">
                  Qualified<small class="d-block text-primary">Doctors</small>
                </h6>
              </div>
            </div>
            <div class="col-sm-3 col-6">
              <div class="bg-light text-center rounded-circle py-4">
                <i class="fa fa-3x fa-procedures text-primary mb-3"></i>
                <h6 class="mb-0">
                  Emergency<small class="d-block text-primary">Services</small>
                </h6>
              </div>
            </div>
            <div class="col-sm-3 col-6">
              <div class="bg-light text-center rounded-circle py-4">
                <i class="fa fa-3x fa-microscope text-primary mb-3"></i>
                <h6 class="mb-0">
                  Accurate<small class="d-block text-primary">Testing</small>
                </h6>
              </div>
            </div>
            <div class="col-sm-3 col-6">
              <div class="bg-light text-center rounded-circle py-4">
                <i class="fa fa-3x fa-ambulance text-primary mb-3"></i>
                <h6 class="mb-0">
                  Free<small class="d-block text-primary">Ambulance</small>
                </h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- About End -->

  <!-- Services Start -->
  <div class="container-fluid py-5">
    <div class="container">
      <div class="text-center mx-auto mb-5" style="max-width: 500px">
        <h5
          class="d-inline-block text-primary text-uppercase border-bottom border-5"
        >
          Services
        </h5>
        <h1 class="display-4 fw-medium">Excellent Medical Services</h1>
      </div>
      <div class="row g-5">
        <div class="col-lg-4 col-md-6">
          <div
            class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center"
          >
            <div
              class="service-icon mb-4"
              style="background: #009bab !important"
            >
              <i
                class="fa fa-2x fa-user-md text-white"
                style="color: white !important"
              ></i>
            </div>
            <h4 class="mb-3">Patient-Centric Care</h4>
            <p class="m-0" style="text-align: justify !important">
              We are committed to excellence in clinical practice, education and
              research, and the delivery of affordable, high-quality care
              centred on our patients’ well-being.
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div
            class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center"
          >
            <div class="service-icon mb-4">
              <i class="fa fa-2x fa-ambulance text-white"></i>
            </div>
            <h4 class="mb-3">Emergency Care</h4>
            <p class="m-0" style="text-align: justify !important">
              Our round-the-clock emergency services and treatment at our
              hospital ensure a peace of mind for our patients in need of timely
              medical attention.
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div
            class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center"
          >
            <div class="service-icon mb-4">
              <i class="fa fa-2x fa-pills text-white"></i>
            </div>
            <h4 class="mb-3">Medicine & Pharmacy</h4>
            <p class="m-0" style="text-align: justify !important">
              Our hospital are providing comprehensive care to both expert
              medical treatment and a wide range of pharmaceutical options
              tailored to each individual needs.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Services End -->

  <!-- Our Team Start -->
  <div class="container-fluid py-5">
    <div class="container">
      <div class="text-center mx-auto mb-5" style="max-width: 500px">
        <h5
          class="d-inline-block text-primary text-uppercase border-bottom border-5"
        >
          Our Doctors
        </h5>
        <h1 class="display-4 fw-medium">Qualified Healthcare Professionals</h1>
      </div>
      <div class="row g-5">
        <div style="cursor: pointer;"
          *ngFor="let data of lstDoctors"
          class="col-lg-6 team-item"
          [routerLink]="['/doctor-detail', data.user_email]"
        >
          <div class="row g-0 bg-light rounded overflow-hidden">
            <div class="col-12 col-sm-5 h-100 text-center">
              <img
                class="img-fluid h-100"
                src="{{ data.user_image }}"
                style="object-fit: cover"
              />
            </div>
            <div class="col-12 col-sm-7 h-100 d-flex">
              <div class="p-4 m-auto">
                <h3>{{ data.user_fullName }}</h3>
                <h6 class="fw-normal fst-italic mb-4" style="color: #009bab">
                  {{ data.user_email }}
                </h6>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 text-center">
          <button
            class="btn btn-primary py-3 px-5 border-0"
            style="background-color: #009bab"
            routerLink="/doctor-search"
          >
            Load More
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- Our team End -->

  <!-- Blog Start -->
  <div class="container-fluid py-5">
    <div class="container">
      <div class="text-center mx-auto mb-5" style="max-width: 500px">
        <h5
          class="d-inline-block text-primary text-uppercase border-bottom border-5"
        >
          Blog Post
        </h5>
        <h1 class="display-4 fw-medium">Our Latest Medical Blog Posts</h1>
      </div>
      <div class="row g-5">
        <div class="col-xl-4 col-lg-6" *ngFor="let blog of lstBlogs" >
          <div class="bg-light rounded overflow-hidden" >
            <img 
            (click)="onView(blog.blog_id)"
              class="img-fluid w-100"
              src= "{{blog.blog_img}}"
              alt=""
            />
            <div class="p-4">
              <a
                style="text-decoration: none; color: #009bab"
                class="h3 d-block mb-3"
                href=""
                >{{blog.blog_title}}</a
              >
              <p class="m-0">
                {{blog.blog_demo}}
              </p>
            </div>
          </div>
        </div>
        <div class="col-12 text-center">
          <button
            class="btn btn-primary py-3 px-5 border-0"
            style="background-color: #009bab"
            routerLink="/blog-search"
          >
            Load More
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- Blog End -->

  <!-- Back to Top -->
  <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"
    ><i class="uil uil-top-arrow-to-top"></i
  ></a>
</body>
