<body>
  <input type="checkbox" id="menu-toggle" />
  <div class="sidebar">
    <div class="side-header" style="background-color: white">
      <h3 style="color: #009bab">KT<span>-eHospital</span></h3>
    </div>

    <div class="side-content">
      <div class="profile">
        <input
          (change)="handleFileInput($event)"
          type="file"
          accept="image/*"
          id="user-image"
          style="z-index: -1; position: absolute; opacity: 0"
        />
        <label
          for="user-image"
          class="profile-img bg-img"
          style="background-image: url('{{ imgUrl }}')"
        ></label>
        <h4>{{ fullName }}</h4>
        <small>{{ roleName }}</small>
      </div>

      <div class="side-menu">
        <ul>
          <li>
            <a routerLink="/">
              <span><i class="uil uil-estate"></i></span>
              <small>Home</small>
            </a>
          </li>
          <li>
            <a routerLink="/pharmacist-confirm-appointment">
              <span><i class="uil uil-file-check"></i></span>
              <small>Confirm Appointment</small>
            </a>
          </li>
          <li>
            <a class="active" routerLink="/pharmacist-medicine">
              <span><i class="uil uil-capsule"></i></span>
              <small>Medicine</small>
            </a>
          </li>
          <li>
            <a style="cursor: pointer" routerLink="/pharmacist-profile">
              <span><i class="uil uil-user"></i></span>
              <small>Profile</small>
            </a>
          </li>
          <li>
            <a (click)="onSignOut()" style="cursor: pointer">
              <span><i class="uil uil-signout"></i></span>
              <small>Sign Out</small>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="main-content">
    <header style="background-color: #009bab">
      <div class="header-content">
        <label for="menu-toggle">
          <span><i class="uil uil-bars" style="color: white"></i></span>
        </label>
      </div>
    </header>

    <main>
      <div class="page-header">
        <h1>Medicine Management</h1>
        <small>Home / Medicine Management</small>
      </div>

      <div class="page-content">
        <div class="records table-responsive">
          <div class="record-header">
            <div class="add">
              <button
                routerLink="/pharmacist-add-new-medicine"
                style="background-color: #009bab"
              >
                Add new medicine
              </button>
            </div>

            <div class="browse">
              <input
                (input)="onChageSearch($event)"
                type="search"
                placeholder="Search"
                class="record-search"
              />
            </div>
          </div>

          <div>
            <table width="100%" #tableRef>
              <thead>
                <tr>
                  <th>ID</th>
                  <th>MEDICINE</th>
                  <th>QUANTITY</th>
                  <th>PRICE</th>
                  <th>DATE</th>
                  <th>STATUS</th>
                </tr>
              </thead>
              <tbody *ngFor="let medicine of lstMedicine | paginate
                      : { itemsPerPage: pageSize, currentPage: currentPage }">
                <tr
                  data-bs-toggle="modal"
                  data-bs-target="#viewUserInformation"
                  (click)="onView(medicine.medicine_id)"
                >
                  <td style="color: #009bab">{{ medicine.medicine_id }}</td>
                  <td>
                    <div class="client">
                      <div
                        class="client-img bg-img"
                        style="background-image: url({{
                          medicine.medicine_image
                        }})"
                      ></div>
                      <div class="client-info">
                        <h4
                          [innerHTML]="highlightKeyword(medicine.medicine_name)"
                        ></h4>
                        <!-- <small
                          [innerHTML]="
                            highlightKeyword(medicine.medicine_description)
                          "
                        ></small> -->
                      </div>
                    </div>
                  </td>
                  <td
                    [innerHTML]="highlightKeyword(medicine.medicine_quantity)"
                  ></td>
                  <td
                    [innerHTML]="highlightKeyword(medicine.medicine_price)"
                  ></td>
                  <td
                    [innerHTML]="
                      highlightKeyword(
                        (medicine.medicine_date | date : 'yyyy/MM/dd') || ''
                      )
                    "
                  ></td>
                  <td
                    [innerHTML]="highlightKeyword(medicine.medicine_status)"
                  ></td>
                </tr>
              </tbody>
            </table>
          </div>
                    <div class="pagination">
            <pagination-controls
              (pageChange)="currentPage = $event"
              variant="Circular"
            ></pagination-controls>
          </div>
        </div>
      </div>
    </main>
  </div>
</body>

<div
  class="modal fade"
  id="viewUserInformation"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" style="margin: auto">
    <div
      class="modal-content"
      style="box-shadow: 20px 20px 80px rgb(218, 218, 218)"
    >
      <div class="modal-header">
        <h5
          class="modal-title"
          id="exampleModalLabel"
          style="color: #009bab; margin-left: 15px !important"
        >
          Medicine Information
        </h5>
        <button
          style="margin-right: 15px !important"
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="content">
            <form [formGroup]="viewMedicineForm">
              <div class="d-flex justify-content-center align-items-center">
                <div class="input-box">
                  <!-- <span class="details">Medicine Description</span> -->

                  <input
                    (change)="handleFileMedicine($event)"
                    type="file"
                    accept="image/*"
                    id="medicine-image"
                    style="z-index: -1; position: absolute; opacity: 0"
                  />
                  <label for="medicine-image">
                    <img
                      class="img-account-profile mb-2"
                      style="height: 15rem; width: 15rem"
                      src="{{ imgMedicine }}"
                      alt=""
                    />
                  </label>
                </div>
              </div>
              <div class="user-details">
                <div class="input-box">
                  <span class="details">Medicine ID</span>
                  <input
                    [attr.disabled]="true"
                    type="text"
                    placeholder="Enter Medicine ID"
                    value="{{ medicine_id }}"
                  />
                </div>
                <div class="input-box">
                  <span class="details">Medicine Name</span>
                  <input
                    formControlName="medicine_name"
                    type="text"
                    placeholder="Enter Medicine Name"
                  />
                  <small
                    *ngIf="
                      viewMedicineForm.controls['medicine_name'].dirty &&
                        viewMedicineForm.hasError('required', 'medicine_name');
                      else lengthName
                    "
                    class="text-danger"
                    >Medicine Name is required</small
                  >
                  <ng-template #lengthName>
                    <small
                      *ngIf="
                        viewMedicineForm.controls['medicine_name'].dirty &&
                        viewMedicineForm.hasError('maxlength', 'medicine_name')
                      "
                      class="text-danger"
                    >
                      Medicine Name can't exceed 100 characters</small
                    >
                  </ng-template>
                </div>
                <div class="input-box">
                  <span class="details">Medicine Quantity</span>
                  <input
                    formControlName="medicine_quantity"
                    type="text"
                    placeholder="Enter Medicine Quantity"
                  />
                  <small
                    *ngIf="
                      viewMedicineForm.controls['medicine_quantity'].dirty &&
                        viewMedicineForm.hasError(
                          'required',
                          'medicine_quantity'
                        );
                      else checkQuantity
                    "
                    class="text-danger"
                    >Medicine Quantity is required</small
                  >
                  <ng-template #checkQuantity>
                    <small
                      *ngIf="
                        viewMedicineForm.controls['medicine_quantity'].dirty &&
                        viewMedicineForm.hasError(
                          'isNotNumber',
                          'medicine_quantity'
                        )
                      "
                      class="text-danger"
                      >Please enter Medicine Quantity is a number more than
                      zero</small
                    >
                  </ng-template>
                </div>

                <div class="input-box">
                  <span class="details">Medicine Price (VND)</span>
                  <input
                    formControlName="medicine_price"
                    type="text"
                    placeholder="Enter Medicine Price"
                  />
                  <small
                    *ngIf="
                      viewMedicineForm.controls['medicine_price'].dirty &&
                        viewMedicineForm.hasError('required', 'medicine_price');
                      else checkPrice
                    "
                    class="text-danger"
                    >Medicine price is required</small
                  >
                  <ng-template #checkPrice>
                    <small
                      *ngIf="
                        viewMedicineForm.controls['medicine_price'].dirty &&
                        viewMedicineForm.hasError(
                          'isNotNumber',
                          'medicine_price'
                        )
                      "
                      class="text-danger"
                      >Please enter Medicine Price is a number more than
                      zero</small
                    >
                  </ng-template>
                </div>

                <div class="input-box">
                  <span class="details">Date</span>
                  <input
                    [attr.disabled]="true"
                    type="text"
                    placeholder="Enter Medicine Date"
                    value="{{ medicine_date | date : 'yyyy/MM/dd' }}"
                  />
                </div>

                <div class="input-box">
                  <span class="details">Medicine Description</span>
                  <textarea
                    formControlName="medicine_description"
                    type="text"
                    placeholder="Enter Medicine Description"
                  ></textarea>
                  <small
                    *ngIf="
                      viewMedicineForm.controls['medicine_description'].dirty &&
                        viewMedicineForm.hasError(
                          'required',
                          'medicine_description'
                        );
                      else lengthDescription
                    "
                    class="text-danger"
                    >Medicine Description is required</small
                  >
                  <ng-template #lengthDescription>
                    <small
                      *ngIf="
                        viewMedicineForm.controls['medicine_description']
                          .dirty &&
                        viewMedicineForm.hasError(
                          'maxlength',
                          'medicine_description'
                        )
                      "
                      class="text-danger"
                    >
                      Medicine Description can't exceed 100 characters</small
                    >
                  </ng-template>
                </div>
              </div>

              <div class="gender-box">
                <label>Status</label>
                <div class="gender-option">
                  <div class="user_gender">
                    <input
                      type="radio"
                      id="check-male"
                      formControlName="medicine_status"
                      value="Unavailable"
                    />
                    <label for="check-male" class="checkMale"
                      >Unavailable</label
                    >
                  </div>
                  <div class="gender">
                    <input
                      type="radio"
                      id="check-female"
                      formControlName="medicine_status"
                      value="Available"
                    />
                    <label for="check-female" class="checkFemale"
                      >Available</label
                    >
                  </div>
                </div>
              </div>
              <div class="button">
                <input (click)="onSave()" type="submit" value="Save" />
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="modal-footer"></div>
    </div>
  </div>
</div>
