<div class="body">
  <div class="container active">
    <div class="forms">
      <div class="form signup">
        <span class="title">Reset Password</span>
        <form [formGroup]="ResetPassForm">
          <div class="input-field">
            <input
              type="password"
              class="password"
              placeholder="Enter New Password"
              autocomplete="off"
              formControlName="user_password"
            />
            <i class="uil uil-lock icon"></i>
          </div>
          <small
            *ngIf="
              ResetPassForm.controls['user_password'].dirty &&
                ResetPassForm.hasError('required', 'user_password');
              else passwordFormat
            "
            class="text-danger"
            >New password is required</small
          >
          <ng-template #passwordFormat>
            <small
              *ngIf="
                ResetPassForm.controls['user_password'].dirty &&
                ResetPassForm.hasError('pattern', 'user_password')
              "
              class="text-danger"
              >Password must contain at least 8 or more letters <br />
              Password must contain at least one number <br />Password must
              contain at least one uppercase letter <br />Password must contain
              at least one lowercase letter <br />Password must contain at least
              one special letter
            </small>
          </ng-template>
          <div class="input-field">
            <input
              type="password"
              class="password"
              placeholder="Enter Confirm New Password"
              autocomplete="off"
              formControlName="user_confirmPassword"
            />
            <i class="uil uil-lock icon"></i>
            <i class="uil uil-eye-slash"></i>
          </div>
          <small
            *ngIf="
              ResetPassForm.controls['user_confirmPassword'].dirty &&
                ResetPassForm.hasError('required', 'user_confirmPassword');
              else confirmPasswordFormat
            "
            class="text-danger"
            >Confirm New Password is required</small
          >
          <ng-template #confirmPasswordFormat>
            <small
              *ngIf="
                this.ResetPassForm.get('user_confirmPassword')?.value !==
                this.ResetPassForm.get('user_password')?.value
              "
              class="text-danger"
              >New Password and Confirm New Password are not match</small
            >
          </ng-template>
          <div class="input-field button">
            <input (click)="onResetPassword()" type="submit" value="Reset" />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
