<div class="responsive-container-block bigContainer">
  <div class="responsive-container-block Container">
    <img class="mainImg" src="assets/img/about-us-mission.png">
    <div class="allText aboveText">
      <p class="text-blk headingText">
        Our Mission
      </p>
      <p class="text-blk description">
        The mission of KT-eHospital is to provide quality health services and facilities for the community, to promote wellness, to relieve suffering, and to restore health as swiftly, safely, and humanely as it can be done, consistent with the best service we can give at the highest value for all concerned.
      </p>
    </div>
  </div>
  <div class="responsive-container-block Container bottomContainer">
    <img class="mainImg" src="assets/img/about-us-vision.jpg">
    <div class="allText bottomText">
      <p class="text-blk headingText">
        Our Vision
      </p>
      <p class="text-blk description">
        To provide each patient with the world-class care, exceptional service and compassion we would want for our loved ones and To Lead the evolution of healthcare to enable every member of the communities we serve to enjoy a better, healthier life.
      </p>
    </div>
  </div>
    <div class="responsive-container-block Container">
    <img class="mainImg" src="assets/img/about-us-best-quality.jpg">
    <div class="allText aboveText">
      <p class="text-blk headingText">
        Best Quality
      </p>
      <p class="text-blk description">
        Our team is composed of highly qualified doctors trained at top-tier international hospitals, working with experienced professionals in teams to reach high standards of safety and quality
      </p>
    </div>
  </div>
    <div class="responsive-container-block Container bottomContainer">
    <img class="mainImg" src="assets/img/about-us-multidisciplinary-pproach.jpg">
    <div class="allText bottomText">
      <p class="text-blk headingText">
        Multidisciplinary Approach
      </p>
      <p class="text-blk description">
        Our team of subspecialists work together to provide the highest standard of healthcare. They follow best practice evidence-based care, support research, trainings and publish outcomes.
      </p>
    </div>
  </div>
</div>
