.body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #009bab;
}

.container {
  position: relative;
  max-width: 31.25rem;
  width: 100%;
  background: #fff;
  border-radius: 0.625rem;
  box-shadow: 0 0.313rem 0.625rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: 0 1.25rem;
  height: 95vh;
  overflow-y: auto;
}

.container .forms {
  display: flex;
  align-items: center;
  height: 27.5rem;
  width: 200%;
  transition: height 0.2s ease;
}

.container .form {
  width: 50%;
  padding: 1.875rem;
  background-color: #fff;
  transition: margin-left 0.18s ease;
}

.container .signup {
  height: 37.5rem;
  opacity: 0;
  transition: opacity 0.09s ease;
}

.container.active .signup {
  opacity: 1;
  transition: opacity 0.2s ease;
}

.container.active .forms {
  height: 37.5rem;
}

.container .form .title {
  position: relative;
  font-size: 1.688rem;
  font-weight: 600;
}

.form .title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0.188rem;
  width: 1.875rem;
  background-color: #009bab;
  border-radius: 1.563rem;
}

.form .input-field {
  position: relative;
  height: 3.125rem;
  width: 100%;
  margin-top: 1.875rem;
}

.input-field input {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 0 2.188rem;
  border: none;
  outline: none;
  font-size: 1rem;
  border-bottom: 0.125rem solid #ccc;
  border-top: 0.125rem solid transparent;
  transition: all 0.2s ease;
}

.input-field input:is(:focus) {
  border-bottom-color: #009bab;
}

.input-field i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #999;
  font-size: 1.438rem;
  transition: all 0.2s ease;
}

.input-field input:is(:focus) ~ i {
  color: #009bab;
}

.input-field i.icon {
  left: 0;
}

.checkbox-content input {
  margin-right: 0.625rem;
  accent-color: #009bab;
}

.form .text {
  color: #333;
  font-size: 0.875rem;
}

.form a.text {
  color: #009bab;
  text-decoration: none;
}

.form a:hover {
  text-decoration: underline;
}

.form .button {
  margin-top: 2.188rem;
}

.form .button input {
  border: none;
  color: #fff;
  font-size: 1.063rem;
  font-weight: 500;
  letter-spacing: 0.063rem;
  border-radius: 0.375rem;
  background-color: #009bab;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button input:hover {
  background-color: #009bab;
}

.form .login-signup {
  margin-top: 1.875rem;
  text-align: center;
}

.container::-webkit-scrollbar {
  width: 0.625rem;
}

.container::-webkit-scrollbar-track {
  background-color: #fff;
  border-radius: 0.313rem;
}

.gender-box {
  padding-top: 1.875rem;
}

.gender-option {
  display: flex;
  padding-top: 0.938rem;
}

.gender {
  padding-right: 3.125rem;
}

input[type=radio] {
  appearance: none;
  width: 13px;
  height: 13px;
  border: 2px solid #333;
  border-radius: 50%;
  cursor: pointer;
}

input[type=radio]:checked {
  background-color: #009bab;
  border-color: #009bab;
}

.checkMale {
  margin-right: 30px;
  margin-left: 5px;
}

.checkFemale {
  margin-left: 5px;
}
