<div class="body">
  <div class="container">
    <div class="forms">
      <div class="form login">
        <span class="title">Forgot Password</span>
        <p>Please provide your email, we will send the reset link</p>
        <form [formGroup]="ForgetPasswordForm">
          <div class="input-field">
            <input
              type="email"
              placeholder="Enter your email"
              formControlName="user_email"
            />
            <i class="uil uil-envelope icon"></i>
          </div>
          <small
            *ngIf="
              ForgetPasswordForm.controls['user_email'].dirty &&
                ForgetPasswordForm.hasError('required', 'user_email');
              else emailFormat
            "
            class="text-danger"
            >Email is required</small
          >

          <ng-template #emailFormat>
            <small
              *ngIf="
                ForgetPasswordForm.controls['user_email'].dirty &&
                ForgetPasswordForm.hasError('pattern', 'user_email')
              "
              class="text-danger"
              >Email is incorrect format. Please enter again</small
            >
          </ng-template>

          <div class="input-field button">
            <input
              (click)="onForgetPassword()"
              type="submit"
              value="Send Email"
            />
          </div>
        </form>
        <div class="login-signup">
          <span class="text"
            >Already a member?
            <a routerLink="/signin" class="text login-link">Sign In Now</a>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
