<body>
  <input type="checkbox" id="menu-toggle" />
  <div class="sidebar">
    <div class="side-header" style="background-color: white">
      <h3 style="color: #009bab">KT<span>-eHospital</span></h3>
    </div>

    <div class="side-content">
      <div class="profile">
        <input
          (change)="handleFileInput($event)"
          type="file"
          accept="image/*"
          id="user-image"
          style="z-index: -1; position: absolute; opacity: 0"
        />
        <label
          for="user-image"
          class="profile-img bg-img"
          style="background-image: url('{{ imgUrl }}')"
        ></label>
        <h4>{{ userModel.user_fullName }}</h4>
        <small>{{ roleName }}</small>
      </div>

      <div class="side-menu">
        <ul>
          <li>
            <a routerLink="/">
              <span><i class="uil uil-estate"></i></span>
              <small>Home</small>
            </a>
          </li>
          <li>
            <a routerLink="/manager-appointment">
              <span><i class="uil uil-medical-square"></i></span>
              <small>Appointment</small>
            </a>
          </li>
          <li>
            <a class="active" routerLink="/manager-blog">
              <span><i class="uil uil-document-layout-left"></i></span>
              <small>Blog</small>
            </a>
          </li>
          <li>
            <a routerLink="/manager-statistic">
              <span><i class="uil uil-chart-pie-alt"></i></span>
              <small>Statistic</small>
            </a>
          </li>
          <li>
            <a routerLink="/manager-revenue-prediction">
              <span><i class="uil uil-comparison"></i></span>
              <small>Revenue Prediction</small>
            </a>
          </li>
          <li>
            <a style="cursor: pointer" routerLink="/manager-profile">
              <span><i class="uil uil-user"></i></span>
              <small>Profile</small>
            </a>
          </li>
          <li>
            <a (click)="onSignOut()" style="cursor: pointer">
              <span><i class="uil uil-signout"></i></span>
              <small>Sign Out</small>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="main-content">
    <header style="background-color: #009bab">
      <div class="header-content">
        <label for="menu-toggle">
          <span><i class="uil uil-bars" style="color: white"></i></span>
        </label>
      </div>
    </header>

    <main>
      <div class="page-header">
        <h1>View Detail Blog</h1>
        <small>Home / Blog Management / View Detail Blog</small>
      </div>

      <div class="page-content">
        <div class="records table-responsive">
          <div class="record-header" style="flex-direction: column;">
            <div class="add">
              <!-- <button
                routerLink="/manager-add-new-blog"
                style="background-color: #009bab"
              >
                Add new blog
              </button> -->
            </div>

            <div class="browse">
            </div>
                <!-- Blog Start -->
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-8">
                <!-- Blog Detail Start -->
                <div class="mb-5">
                    <img class="img-fluid w-50 rounded mb-5" [src]="img" alt="">
                    <h1 class="mb-4">{{title}}</h1>
                    <p [innerHTML]="content"></p>
                </div>
                <!-- Blog Detail End -->
            </div>

            <!-- Sidebar Start -->
            <div class="col-lg-4">
                <!-- Search Form Start -->
                <div class="mb-5">
                    <div class="input-group">
                        <!-- <input type="text" class="form-control p-3" placeholder="Keyword"> -->
                        <button routerLink="/manager-blog" class="btn btn-primary p-3" style="background-color: #009bab; border: none;">Back To Blog Management</button>
                    </div>
                </div>
                <!-- Search Form End -->
            </div>
            <!-- Sidebar End -->
        </div>
    </div>
    <!-- Blog End -->
          </div>
        </div>
      </div>
    </main>
  </div>
</body>
